


    <form class="new_user-form">
      <legend>User</legend>

        <label>User Name</label>
        <input name="name" type="text">
        
        <label>Email</label>
        <input name="email" type="text">

        <label>Password</label>
        <input name="password" type="password">
        
        <label>Password Confirmation</label>
        <input name="password_confirmation" type="password">

       <button type="submit" class="btn">Create</button>
    </form>
 