

    <button type="button" id = "signin" >Sign In</button>
    <button type="button" id = "signup" >Sign Up</button>

   <form id="signin-user-form" style="display: none;">
        <label>User Name</label>
        <input name="name" type="text">

        <label>Password</label>
        <input name="password" type="password">

       <button type="submit" class="btn">Submit</button>
    </form>


  <form id="signup-user-form" style="display: none;">

        <label>User Name</label>
        <input name="name" type="text">

        <label>Email</label>
        <input name="email" type="text">

        <label>Password</label>
        <input name="password" type="password">

        <label>Password Confirmation</label>
        <input name="password_confirmation" type="password">

       <button type="submit" class="btn">Submit</button>
    </form>

